@model Library.Models.Books
@{
    ViewData["Title"] = "CheckOut";
}

<h1>CheckOut</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CheckOut1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label">ISBN</label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Book Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastCheckedPerson" class="control-label">Your Name</label>
                <input asp-for="LastCheckedPerson" class="form-control" />
                <span asp-validation-for="LastCheckedPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Your Citizen ID</label>
                <input class="form-control" />
                <span  class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>