@model Library.Models.BookDetails

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BookDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookName" class="control-label"></label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservedDate" class="control-label"></label>
                <input asp-for="ReservedDate" class="form-control" />
                <span asp-validation-for="ReservedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservedPerson" class="control-label"></label>
                <input asp-for="ReservedPerson" class="form-control" />
                <span asp-validation-for="ReservedPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
