@model Library.Models.BookDetails
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label">ISBN</label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookName" class="control-label">Book Name</label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservedDate" class="control-label">Date</label>
                <input asp-for="ReservedDate" class="form-control" />
                <span asp-validation-for="ReservedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservedPerson" class="control-label">Your Name</label>
                <input asp-for="ReservedPerson" class="form-control" />
                <span asp-validation-for="ReservedPerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
